@model ManagerTracker.Models.Drivers

@{
    ViewBag.Title = "DistanceCreate";
}

<!DOCTYPE html>
<html>
<head>
    <h4>Repair Slip</h4>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Distance Between Two Cities</title>
</head>
<body>
    

   
    <button onclick="getLocation()">Get Location</button>
    <p id="demo"></p>
    <script>
        var x = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(showPosition);
            }
            else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "User denied the request for Geolocation."
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable."
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "The request to get user location timed out."
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred."
                    break;
            }
        }
    </script>

    <form action="/action_page.php" target="_blank" method="POST">
        <fieldset>
            @*<legend>Repair information</legend>*@
            Truck Number:<br>
            <input type="text" name="TruckNumber" value="PJ 1">
            <br>
            Trailer Number:<br>
            <input type="text" name="TrailerNumber" value="T 1">
            <br>
            Repairs Needed:<br>
            <textarea name="RepairsNeeded" rows="10" cols="90">Air leaks.</textarea>
            <br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>







   
    <script async defer
            src=@ViewBag.API>
    </script>
    @*<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
