@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="font-size:20px">This application was built to help small shops come into the 21st century. By using 
    this application you will be able to view incoming repairs live right from the drivers
    with an estimated time of arrival for mechanics to view. As a mechanic when you log
    in you will be taken to the work order form to fill out, you will also be able to view
    a current list of trucks and trailers the company owns. As a manager you will be able
    to view and edit reapairs orders completed by the mechanics. you will also
    be able to view incoming repairs into the shop. </p>

<p style="font-size:30px">Idea behind this application</p>

<p style="font-size:20px">
    I came up with this idea from my current job where drivers call in to the office
    with repairs and the person who recieved the call forgets to come out to the shop and write the incoming
    repair on a big dry erase board. Current repair orders and maitenance logs are all still done on paper where
    its a constant hassle if we run out of sheets.
</p>

