@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    FAIRWAY TRANSIT<br />
    930 Silvernail Rd<br />
    Pewaukee, WI 53072<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Mdpayne26@yahoo.coom">Mdpayne26@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Mdpayne26@yahoo.com">Mdpayne26@yahoo.com</a>
</address>