@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SHOP TRACKER</h1>
    <p class="lead">This is the number one program for small time shops that want to get brought to the next level.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mechanics</h2>
        <p>CREATE AND VIEW CURRENT MECHANICS WORKING IN THE SHOP.</p>
        <p><a class="btn btn-default" href="http://localhost:51963/mechanic/index">Go Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Drivers</h2>
        <p>CREATE AND VIEW CURRENT DRIVERS IN YOUR FLEET.</p>
        <p><a class="btn btn-default" href="http://localhost:51963/DRIVER/INDEX">Go Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Workorders & Equipment</h2>
        <p>VIEW AND EDIT CURRENT OR PAST WORKORDERS, VIEW CURRENT LISTS OF EQUIPMENT</p>
        <p><a class="btn btn-default" href="http://localhost:51963/workorder/index">Go Now &raquo;</a></p>
    </div>
</div>